
{{>sidebar}}
{{>store}}



<div class="thumbnail att">

    <div class="box " style="width: 900px">
        {{# each list}}
<div class="row">
    <div class="col-md-12">
        <ul class="level" style=" list-style: none;padding: 0; margin: 0; background-color: white">

                <div style="margin-left: 200px" class="col-md-4">


            <li>


                <a  href="/users/alumni_d/{{this._id}}">     <button style="font-family: Verdana; font-size: 140%; font-weight: bold; height: 70px; width: 600px" type="submit"  class="btn btn-primary">  {{this.set_name}} {{this.year}}</button></a>


            </li>
                </div>
        </ul>
            </div>




    </div>
    {{/each}}
</div>
    </div>
</div>


<div class="mobile_view">
    {{# each list}}
        <div class="row">
            <div class="col-md-12">
                <ul class="level" style=" list-style: none;padding: 0; margin: 0; background-color: white">

                    <div style="" class="col-md-12">


                        <li style="margin-top: 10px;">


                            <a  href="/users/alumni_d/{{this._id}}">     <button style="font-family: Verdana; font-size: 120%; font-weight: bold; height: 40px; width: 100%" type="submit"  class="btn btn-primary">  {{this.set_name}} {{this.year}}</button></a>


                        </li>
                    </div>
                </ul>
            </div>




        </div>
    {{/each}}
</div>






<style type="text/css">
    @media (max-width: 768px) {
        .d{
            display: block;
        }
        .att{
            display:none;
        }
        .mobile_view{
            display: block;
        }

    }
    .box{
        animation: animate 1.2s linear;

    }

    @keyframes animate  {
        0%{transform: translateX(189px)}
        0%{opacity: 0;}
        50%{opacity: 0.5;}
    }
    /*h2{*/
    /*padding: 30px 10px;*/
    /*}*/
    button {
        margin-top: 3px;
    }
    a{color: white;

    }


    .con{

    }
    .cont{
        margin-top: -20px;
        position: relative;
    }


    .content{
        padding: 10px 10px;
        width : 1123px;
        height: 635px;
        position:absolute;
        border: 1px solid rgba(0 ,0, 0, 0.4);
        margin-left: 224px;
        margin-top: 35px;
        background-color: white;
    }
</style>


