<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>

{{>sidebar}}


<div class="thumbnail att">
    <form class="form" method="post" enctype="multipart/form-data" action="/users/Register_member">
        {{# if hasError}}
            {{# each message}}
            <div class="alert alert-danger">
                {{this}}
            </div>
            {{/each}}
        {{/if}}


<div class="row">
    <div class="col-md-12" style="margin-top: 10px">
        <div class="form-group">
            <div class="col-md-6">
                <label for="id">Members first name <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span> :</label>
                <input type="text" id ="id" class="form-control" name="firstname" placeholder="Members First name">
            </div>

            <div class="col-md-6">
                <label for="id">Members second name <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span> :</label>
                  <input id ="id" type="text" class="form-control" name="secondname" placeholder="Members Second name">
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top: 10px">
        <div class="form-group">
            <div class="col-md-3">

                <!--<input type="text" id ="id" class="form-control" name="level" placeholder="Member's level">-->
                <label for="id"> Level  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:
                    <select  style="width: 249px; height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="level" class="form-control">
                        <option type="number" name="level" class="form-control">100 </option>
                        <option name="level" class="form-control">200 </option>
                        <option name="level" class="form-control">300 </option>
                        <option name="level" class="form-control">400 </option>
                        <option name="level" class="form-control">500 </option>
                    </select>
                </label>
            </div>

            <div class="col-md-3">
                <label for="id"> Unit:
                    <select style="width: 249px; height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="unit" class="form-control">
                        <option  name="unit" class="form-control">Drama unit </option>
                        <option name="unit" class="form-control">Welfare unit </option>
                        <option name="unit" class="form-control">Choir unit </option>
                        <option name="unit" class="form-control">Evangelism unit </option>
                        <option name="unit" class="form-control">Publicity unit</option>
                        <option name="unit" class="form-control">Academic unit</option>
                        <option name="unit" class="form-control">Ushering unit</option>
                    </select>
                </label>
            </div>

            <div class="col-md-3">
                <label for="id">Phone Number <i class="fas fa-phone"></i> <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span> :</label>
                <input id ="id" type="text" class="form-control" name="phone_number" placeholder="Members Phone number">
            </div>

            <div class="col-md-3">
                <label for="id"> Status  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:
                    <select style="width: 230px; height: 40px;border-radius: 0; margin-left: 18px; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="status" class="form-control">
                        <option  name="status" class="form-control">Under-graduate </option>
                        <option name="status" class="form-control">Post-graduate </option>
                        <option name="status" class="form-control"> Alumnus </option>

                    </select>
                </label>
            </div>
        </div>

    </div>
</div>


        <div class="row">
            <div class=" form-bottom col-md-11" style="margin-top: 20px">
                <div class="form-group">
                    <div class="col-md-6">

                      <div class="form-left">
                          <div class="row">
                              <div class="col-md-12">

                                  <input type="file" name="profile_image" class="form-control">
                              </div>
                          </div>
                          <div class="row" style="margin-top: 10px">
                              <!--<div class="col-md-4">-->
                                  <!--<label for="m_id">Month of birth:</label>-->
                                  <!--<input id="m_id" type="number" name="m_b" class="form-control">-->
                              <!--</div>-->
                              <div class="col-md-4">
                              <label for="id"> Month of birth  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:
                                  <select style=" height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="m_b" class="form-control" >
                                      <option  name="m_b" class="form-control">January </option>
                                      <option name="m_b" class="form-control">February </option>
                                      <option name="m_b" class="form-control"> March </option>
                                      <option name="m_b" class="form-control"> April </option>
                                      <option name="m_b" class="form-control"> May </option>
                                      <option name="m_b" class="form-control"> June </option>
                                      <option name="m_b" class="form-control"> July </option>
                                      <option name="m_b" class="form-control"> August </option>
                                      <option name="m_b" class="form-control"> September </option>
                                      <option name="m_b" class="form-control"> October </option>
                                      <option name="m_b" class="form-control"> November </option>
                                      <option name="m_b" class="form-control"> December</option>


                                  </select>
                              </label>
                              </div>

                              <div class="col-md-4">
                                  <label for="d_id">Date of birth  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:</label>
                                  <input id="d_id" type="number" name="d_b" class="form-control">
                              </div>

                              <div class="col-md-4">
                                  <label for="id">Year  of birth:</label>
                                  <input id="id" type="text" name="y_b" class="form-control" placeholder="e.g (2019)">
                              </div>
                          </div>


                          <div  class="row" style="margin-top: 10px" >


                              <label style="margin-left: 20px;" for="id"> Executive Role  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute"></span>:
                                  <select style=" height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="executive_role" class="form-control" >
                                      <option  name="executive_role" class="form-control">None </option>
                                      <option  name="executive_role" class="form-control">President </option>
                                      <option name="executive_role" class="form-control">Vice President </option>
                                      <option name="executive_role" class="form-control"> General Secretary </option>
                                      <option name="executive_role" class="form-control">Assistant General Secretary </option>
                                      <option name="executive_role" class="form-control">Brothers Coordinator</option>
                                      <option name="executive_role" class="form-control">Financial Secretary</option>
                                      <option name="executive_role" class="form-control">Treasurer</option>
                                      <option name="executive_role" class="form-control"> Evangelism Coordinator </option>
                                      <option name="executive_role" class="form-control"> Assistant Evangelism Coordinator</option>
                                      <option name="executive_role" class="form-control"> Choir Coordinator </option>
                                      <option name="executive_role" class="form-control">Assistant Choir Coordinator</option>
                                      <option name="executive_role" class="form-control">Welfare Coordinator</option>
                                      <option name="executive_role" class="form-control">Assistant Welfare Coordinator</option>
                                      <option name="executive_role" class="form-control">Publicity Coordinator</option>
                                      <option name="executive_role" class="form-control">Assistant Publicity Coordinator</option>
                                      <option name="executive_role" class="form-control">Academic Coordinator</option>
                                      <option name="executive_role" class="form-control">Assistant Academic Coordinator</option>
                                      <option name="executive_role" class="form-control">Drama Unit Coordinator</option>
                                      <option name="executive_role" class="form-control">Assistant Drama Unit Coordinator</option>
                                      <option name="executive_role" class="form-control">Ushering Unit Coordinator</option>
                                      <option name="executive_role" class="form-control">Assistance Ushering Unit Coordinator</option>
                                      <option name="executive_role" class="form-control">Sisters Coordinator</option>
                                      <option name="executive_role" class="form-control">Assistant Sisters Coordinator</option>
                                      <option name="executive_role" class="form-control">Ex-Officio1</option>
                                      <option name="executive_role" class="form-control">Ex-Officio2</option>


                                  </select>

                              </label>
                              <div class="col-md-4 pull-right" >
                                  <label  for="id"> School  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:
                                      <select style=" height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="school" class="form-control" >
                                          <option  name="school" class="form-control">SAAT </option>
                                        <option  name="school" class="form-control">SEET </option>
                                        <option  name="school" class="form-control">SEMS </option>
                                        <option  name="school" class="form-control">SET </option>
                                        <option  name="school" class="form-control">SHHT</option>
                                        <option  name="school" class="form-control">SMAT </option>
                                        <option  name="school" class="form-control">SOC </option>
                                        <option  name="school" class="form-control">SOS </option>


                                      </select>
                                  </label>
                              </div>

                          </div>

                          <div  class="row" style="margin-top: 10px" >
                              <div class="col-md-12">
                                  <label for="id">Department  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:</label>
                                  <input id="id" type="text" name="department" placeholder="Member's department" class="form-control">
                              </div>
                          </div>
                          <div  class="row" style="margin-top: 10px" >
                              <div class="col-md-12">
                                  <label for="id">Home Address <i class="far fa-home-lg-alt"></i> <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:</label>
                                  <input id="id" type="text" name="address" placeholder="Member's address" class="form-control">
                              </div>
                          </div>
                      </div>



                    </div>

                    <div class="col-md-6">
                        <div class="form-right">
                            <div class="row">
                            <div class="col-md-12">
                            <div class="form-group">
                                <label for="id">Email address:</label>
                                <input id="id" type="email" name="email" placeholder="Member's email address" class="form-control">
                            </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id">Facebook page:</label>
                                        <input id="id" type="text" name="facebook" placeholder="Member's facebook link" class="form-control">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id">Twitter:</label>
                                        <input id="id" type="text" name="twitter" placeholder="Member's twitter link" class="form-control">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id">Whatsapp No:</label>
                                        <input id="id" type="text" name="whatsapp" placeholder="Member's whatsapp number" class="form-control">
                                    </div>

                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <input style="height: 30px; " id="id" type="text" name="quote" placeholder="Personal Quote" class="form-control">
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
            </div>
                <button  type="submit" class=" submit btn btn-lg btn-primary">Add member <i class="fas fa-user-plus"></i></button>
        </div>

        </div>

    </form>
    <div class="mobile_view">
        <div class=" na">
            <img src="/images/logo.png" style="margin-left: 20px; width: 50px; height: 40px;float: left; z-index:1">
            <span style="font-family: Verdana; color: white; font-weight: bold; font-size: 100%; position: absolute; padding: 3px 10px;">{{success}}</span>
            <ul>
                <li style="display: inline; margin-left: 30px;" ><i class="fas fa-home"></i><a href="/land_page"> Home</a> </li>
                <li style="display: inline; margin-left: 10px;" id="notification" onclick="show()"><i class="fas fa-bell"></i> Notifications</li>
                 <li style="display: inline; margin-left: 10px;" onclick="window.open('/CCCSPHISTORY.pdf')"> History</li>
                <li style="display: inline; margin-left: 30px;"><a href="/users/logout"> Logout</a></li>
                  

            </ul>

                    <form style=" display: inline" action="/users/search" method="post">
                        <input class="mobile" style="margin-left: 30px; width: 130px; height: 30px" name="name" type="text"   placeholder="Search member's name"><span>  <button  type="submit"><i class="fas fa-search"></i> Search </button></span>

                    </form>



            <!--<div class="note" id="note" style="margin-left: -50px;" >-->
                <!--<button onclick="clear()" id="button"  style=" border-radius: 0; padding-top: 10px; margin-bottom: 3px;position: relative; width: 40px;height: 40px; margin-left: 330px;" class="  btn-primary">-->

                    <!--<span class="w pull-right" style=" margin-top: -15px; background-color: white; position: absolute; transform: rotate(45deg);width : 2px; height: 18px ; "></span >-->
                    <!--<span class="p pull-right"  style="  margin-top: -15px; background-color: white;  position:absolute;transform: rotate(-45deg);width : 2px; height: 18px ; "></span>-->
                <!--</button>-->
                <!--<h2 style="text-align: center"><i class="fas fa-birthday-cake"></i> </h2>-->
                <!--<h3 style="font-family: Verdana; font-size:150%;text-align: center"> Today's birthday celebrants</h3>-->
                <!--<div style="padding-bottom: 30px;" class="">-->
                    <!--{{# each note}}-->
                        <!--<ul class="lists">{{# each this}}-->
                            <!--<li class="list list-group-item">-->
                                <!--<p> Name :{{this.firstname}} {{this.secondname}}</p>-->
                                <!--<p>Level: {{this.level}}</p>-->
                                <!--<p>Unit: {{this.unit}}</p>-->
                                <!--<p> {{this.unit2}}</p>-->
                                <!--<a style="z-index: 1; margin-bottom: 10px; width: 120px;font-family: Verdana; background-color: #2e6da4;  font-size: 115%;padding: 7px 40px;  height: 35px;border-radius: 0; margin-top: -10px; font-weight: bold" href="/users/view/{{this._id}}"   class=" pull-left " ><i style="float: left; margin-left: -30px" class="fas fa-address-book"></i>Profile </a><br>-->

                            <!--</li>-->
                        <!--{{/each}}-->
                        <!--</ul>-->
                    <!--{{/each}}-->
                    <!--<a href="/users/birthday_message" style="z-index: 99999;"><button style="z-index: 99999; margin-left: 27px; font-family: Verdana;font-size: 120%; width: 300px; height: 50px;margin-top: 20px; background-color: #2e6da4">Send message to celebrants</button></a>-->


                <!--</div>-->
            <!--</div>-->
            <script type="text/javascript">

                // var note = document.getElementById('note');
                // var notification = document.getElementById('notification');
                // var btn = document.getElementById('button');
                // note.style.display="none";
                // btn.addEventListener('click' , clear);
                // function clear() {
                //     note.style.display="none";
                // }
                //
                // notification.addEventListener('click' , show);
                // function show() {
                //     note.style.display="block";
                // }

            </script>







            <style type="text/css">
                /*.note{*/
                    /*!*height: 600px;*!*/
                    /*width: 400px;*/
                    /*background: rgba(0,0,0,0.8);*/
                    /*color: white;*/
                    /*padding: 0 20px;*/
                    /*margin-left: 224px;*/
                    /*margin-top: 30px;*/
                    /*z-index: 1;*/

                    /*border: 1px solid black;*/
                    /*position: absolute;*/
                    /*animation: anima 0.5s linear;*/
                /*}*/
                @keyframes anima {
                    0%{opacity: 0}
                }
                /*.note ul.lists{*/
                    /*padding: 0 0 0 0;*/
                    /*margin: 0;*/
                    /*border-radius: 0;*/
                    /*border-bottom: 1px solid white;*/
                    /*font-family: 'Roboto', sans-serif;*/

                /*}*/
                /*.note ul.lists li.list-group-item{*/
                    /*border-radius: 0;*/
                    /*background-color:rgba(0,0,0,0.7) ;*/
                    /*margin-top: 4px;*/
                    /*border-bottom: none;*/

                    /*border-right: 1px solid white;*/

                /*}*/



                /*on mobile screen e.g android*/
                @media (max-width: 768px){



                }

                body{
                    background:white;
                    cursor: pointer;
                }


            </style>


            <style type="text/css">
                /*on mobile screen*/
                @media (max-width: 768px){

                    .content{
                        padding:  0  10px;
                        background-color: white;
                    }
                    .nav{
                        display: none;
                    }

                    .sidebar{
                        display: none;

                    }










                }
            </style>



        </div>
        <style type="text/css">
            .na{
                margin-top: -39px;
                position: relative;
                background-color: royalblue;

                width: 110%;
                margin-left: -25px;
                font-size: 120%;

            }
            .na li{
              font-size: 90%;
color: white;
                font-weight: bold;
                list-style: none;
            }
            input[type="text"].mobile{
             outline: none;
                border-radius: 3px;
                border: 1px solid white;
                margin-bottom: 3px;
            }

        </style>
        <div id="sidebar" >
            <div class="list-group ">

                <ul class="list-group">

                    <li style="list-style:none;margin-top:-24px;margin-left: 20px" class="c list-group-item-heading"><h2 style="color: white; font-size:140%; font-weight: bolder">Actions</h2></li>
                    <li style="color: white;font-size:114%; font-family: sans-serif" class="c list-group-item"><a href="/users/church_anthem"><i class="fas fa-music"></i> Church Anthem</a></li>
                    <li class="c list-group-item bg-transparant"><a href="/users/Register_member"><i class="fas fa-user-plus"></i>Register Self</a></li>
                    <li class="c list-group-item bg-transparant"><a href="/users/signup"><i class="fas fa-user-plus"></i> Add Member as Admin</a></li>
                    <li style="" class=" c list-group-item bg-transparant"><a href="/users/levels"><i class="fas fa-users"></i> View members at each level
                    </a>
                    </li>
                    <li class=" c list-group-item bg-transparant"><a href="/users/update"><i class="fas fa-database"></i> Update database</a> </li>
                    <li class="c list-group-item"><a href="/users/select"><i class="fas fa-check"></i> Take attendance</a>  </li>
                    <li class=" c list-group-item"><a href="/users/birthday"><i class="fas fa-birthday-cake"></i> View Birthday Celebrant</a> </li>
                    <li class="c list-group-item"><a href="/users/executive"><i class="fas fa-people-carry"></i> Church executives</a></li>
                    <li class="c list-group-item"><a href="/users/alumni"><i class="fas fa-user-graduate"></i> Alumni Section</a></li>
                    <li class="c list-group-item"><a href="/users/unit"> <i class="fal fa-users-class"></i> Units</a></li>
                    <li class="c list-group-item"><a href="/admin"> <i class="fal fa-users-class"></i> Admin Login</a></li>

                </ul>
            </div>
        </div>

        <div class="toggle" onclick="toggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    <form class="fo" enctype="multipart/form-data"  action="/users/Register_member" method="post" >


        <div class="row">
            <div class="col-sm-12">
            <div style="margin-top: 30px;" class="form-group">
                    {{# if hasError}}
                        {{# each message}}
                            <div class="alert alert-danger">
                                {{this}}
                            </div>
                        {{/each}}
                    {{/if}}
                    <label for="id">Members first name <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 30pxpx; position: absolute">*</span> :</label>
                    <input type="text" id ="id" class="form-control" name="firstname" placeholder="Members First name">

                    <label for="id">Members second name <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span> :</label>
                    <input id ="id" type="text" class="form-control" name="secondname" placeholder="Members Second name">
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="margin-top: 10px">
                    <div class="form-group">
                        <div class="col-md-3">

                            <!--<input type="text" id ="id" class="form-control" name="level" placeholder="Member's level">-->
                            <label for="id"> Level  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:
                                <select style="width: 249px; height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="level" class="form-control">
                                    <option  name="level" class="form-control">100 </option>
                                    <option name="level" class="form-control">200 </option>
                                    <option name="level" class="form-control">300 </option>
                                    <option name="level" class="form-control">400 </option>
                                    <option name="level" class="form-control">500 </option>
                                </select>
                            </label>
                        </div>

                        <div class="col-md-3">
                            <label for="id"> Unit:
                                <select style="width: 249px; height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="unit" class="form-control">
                                    <option  name="unit" class="form-control">Drama unit </option>
                                    <option name="unit" class="form-control">Welfare unit </option>
                                    <option name="unit" class="form-control">Choir unit </option>
                                    <option name="unit" class="form-control">Evangelism unit </option>
                                    <option name="unit" class="form-control">Publicity unit</option>
                                    <option name="unit" class="form-control">Academic unit</option>
                                    <option name="unit" class="form-control">Ushering unit</option>
                                </select>
                            </label>
                        </div>

                        <div class="col-md-3">
                            <label for="id">Phone Number <i class="fas fa-phone"></i> <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span> :</label>
                            <input id ="id" type="text" class="form-control" name="phone_number" placeholder="Members Phone number">
                        </div>

                        <div class="col-md-3">
                            <label for="id"> Status  <span  style="color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:
                                <select style="width: 230px; height: 40px;border-radius: 0;  margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="status" class="form-control">
                                    <option  name="status" class="form-control">Under-graduate </option>
                                    <option name="status" class="form-control">Post-graduate </option>
                                    <option name="status" class="form-control"> Alumnus </option>

                                </select>
                            </label>
                        </div>
                    </div>

                </div>
        </div>















            <div class="row" style="padding: 0 10px;">

                    <div class="form-group">
                        <div class="col-md-6">



                                <div class="row" style="margin-top: 10px">
                                    <!--<div class="col-md-4">-->
                                    <!--<label for="m_id">Month of birth:</label>-->
                                    <!--<input id="m_id" type="number" name="m_b" class="form-control">-->
                                    <!--</div>-->
                                    <div class="col-md-12">

<label for="id"> Profile Image  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:</label>
                                        <input type="file" name="profile_image" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="id"> Month of birth  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:
                                            <select style=" height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="m_b" class="form-control" >
                                                <option  name="m_b" class="form-control">January </option>
                                                <option name="m_b" class="form-control">February </option>
                                                <option name="m_b" class="form-control"> March </option>
                                                <option name="m_b" class="form-control"> April </option>
                                                <option name="m_b" class="form-control"> May </option>
                                                <option name="m_b" class="form-control"> June </option>
                                                <option name="m_b" class="form-control"> July </option>
                                                <option name="m_b" class="form-control"> August </option>
                                                <option name="m_b" class="form-control"> September </option>
                                                <option name="m_b" class="form-control"> October </option>
                                                <option name="m_b" class="form-control"> November </option>
                                                <option name="m_b" class="form-control"> December</option>


                                            </select>
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="d_id">Date of birth  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:</label>
                                        <input id="d_id" type="number" name="d_b" class="form-control">
                                    </div>

                                    <div class="col-md-4">
                                        <label for="id">Year  of birth:</label>
                                        <input id="id" type="text" name="y_b" class="form-control" placeholder="e.g (2019)">
                                    </div>
                                </div>


                                <div  class="row" style="margin-top: 10px" >


                                    <label style="margin-left: 20px;" for="id"> Executive Role  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute"></span>:
                                        <select style=" height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="executive_role" class="form-control" >
                                            <option  name="executive_role" class="form-control">None </option>
                                            <option  name="executive_role" class="form-control">President </option>
                                            <option name="executive_role" class="form-control">Vice President </option>
                                            <option name="executive_role" class="form-control"> General Secretary </option>
                                            <option name="executive_role" class="form-control">Assistant General Secretary </option>
                                               <option name="executive_role" class="form-control">Financial Secretary</option>
                                      <option name="executive_role" class="form-control">Treasurer</option>
                                            <option name="executive_role" class="form-control">Brothers Coordinator</option>
                                            <option name="executive_role" class="form-control"> Evangelism Coordinator </option>
                                            <option name="executive_role" class="form-control"> Assistant Evangelism Coordinator</option>
                                            <option name="executive_role" class="form-control"> Choir Coordinator </option>
                                            <option name="executive_role" class="form-control">Assistant Choir Coordinator</option>
                                            <option name="executive_role" class="form-control">Welfare Coordinator</option>
                                            <option name="executive_role" class="form-control">Assistant Welfare Coordinator</option>
                                            <option name="executive_role" class="form-control">Publicity Coordinator</option>
                                            <option name="executive_role" class="form-control">Assistant Publicity Coordinator</option>
                                            <option name="executive_role" class="form-control">Academic Coordinator</option>
                                            <option name="executive_role" class="form-control">Assistant Academic Coordinator</option>
                                            <option name="executive_role" class="form-control">Drama Unit Coordinator</option>
                                            <option name="executive_role" class="form-control">Assistant Drama Unit Coordinator</option>
                                            <option name="executive_role" class="form-control">Ushering Unit Coordinator</option>
                                            <option name="executive_role" class="form-control">Assistance Ushering Unit Coordinator</option>
                                            <option name="executive_role" class="form-control">Sisters Coordinator</option>
                                            <option name="executive_role" class="form-control">Assistant Sisters Coordinator</option>
                                            <option name="executive_role" class="form-control">Ex-Officio1</option>
                                            <option name="executive_role" class="form-control">Ex-Officio2</option>


                                        </select>

                                    </label>
                                    <div class="col-md-4">
                                        <label  for="id"> School  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:
                                            <select style=" height: 40px;border-radius: 0; margin-top: 6px;   border: 1px solid rgba(0, 0, 0, 0.5);" name="school" class="form-control" >
                                                <option  name="school" class="form-control">SAAT </option>
                                                <option  name="school" class="form-control">SEET </option>
                                                 <option  name="school" class="form-control">SEMS </option>
                                                 <option  name="school" class="form-control">SET </option>
                                                <option  name="school" class="form-control">SHHT</option>
                                                 <option  name="school" class="form-control">SMAT </option>
                                                 <option  name="school" class="form-control">SOC </option>
                                                <option  name="school" class="form-control">SOS </option>

                                               
                                                
                                               
                                              
                                               
                                                


                                            </select>
                                        </label>
                                    </div>

                                </div>

                                <div  class="row" style="margin-top: 10px" >
                                    <div class="col-md-12">
                                        <label for="id">Department  <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:</label>
                                        <input id="id" type="text" name="department" placeholder="Member's department" class="form-control">
                                    </div>
                                </div>
                                <div  class="row" style="margin-top: 10px" >
                                    <div class="col-md-12">
                                        <label for="id">Home Address <i class="far fa-home-lg-alt"></i> <span  style="padding-left:10px;color:red; font-weight: bold; font-size: 110%; margin-top: 2px; position: absolute">*</span>:</label>
                                        <input id="id" type="text" name="address" placeholder="Member's address" class="form-control">
                                    </div>
                                </div>
                            </div>





                        <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id">Email address (optional):</label>
                                            <input id="id" type="email" name="email" placeholder="Member's email address" class="form-control">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id">Facebook page (optional):</label>
                                            <input id="id" type="text" name="facebook" placeholder="Member's facebook link" class="form-control">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id">Twitter (optional):</label>
                                            <input id="id" type="text" name="twitter" placeholder="Member's twitter link" class="form-control">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id">Whatsapp No (optional):</label>
                                            <input id="id" type="text" name="whatsapp" placeholder="Member's whatsapp number" class="form-control">
                                        </div>

                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id">Personal Quote (optional):</label>
                                            <input style="height: 30px; " id="id" type="text" name="quote" placeholder="e.g it's good to serve God" class="form-control">
                                        </div>

                                    </div>
                                </div>
                            </div>


                    </div>
        </div>
            <button style="margin-left: 80px; width:180px; height: 50px;"  type="submit" class="   btn-primary">Add member <i class="fas fa-user-plus"></i></button>


        </div>

    </form>
    </div>
    <script>
//         var d_b= document.getElementById('d_id');
//         var m_b= document.getElementById('m_id');
// for(var i =0; i<33 ;i++)
// {
//            d_b.value++;}
// if(d_b.value > 31){
//     d_b.value = 0;
// }

    </script>
    <footer style="text-align: center; padding-top: 38px ; margin-left: -10px">
        <p style=" font-size: 130%; font-family: Verdana; font-weight: bold">&copy; copyright 2020 Peculiar-tech</p>
    </footer>
</div>
<script type="text/javascript">
    const sidebar = document.getElementById('sidebar');
    function  toggle() {
        sidebar.classList.toggle('active');
    }
</script>
<!--<form style="display: none;"  action="/users/Register">-->
    <!--<input type="password">-->

<!--</form>-->



<style type="text/css">
.mobile_view{
    display: none;
}
   form.form{
       /*border: 1px solid rgba(0, 0, 0, 0.5);*/
       height: 100%;
       width: 100%;

   }
   form input[type="text"]{
       border: 1px solid rgba(0, 0, 0, 0.5);
       height: 40px;
       border-radius: 0;
   }
   form input[type="email"]{
       border: 1px solid rgba(0, 0, 0, 0.5);
       height: 40px;
       border-radius: 0;
   }
   form input[type="file"]{
       border: 1px solid rgba(0, 0, 0, 0.5);
       height: 40px;
       border-radius: 0;
   }
   form input[type="number"]{
       border: 1px solid rgba(0, 0, 0, 0.5);
       height: 40px;
       border-radius: 0;
   }
   .form-left , .form-right{
       padding: 13px 10px;
       height: 370px;
       border: 1px solid rgba(0, 0, 0, 0.5);
   }
.form-bottom{

    height: 430px;
    padding: 15px  5px;
margin-left: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
   button.submit{
       font-weight: bold;
       font-family: Verdana;
       margin-left: 350px;
width: 320px;
       margin-top: 6px;
       height: 35px;
       padding:0 0 0 0;
       border-radius:3px;
   }
    .con{

    }
    .cont{
        margin-top: -20px;
        position: relative;
    }
   @media (max-width: 768px){
       ul{
           background-color: royalblue;
       }
       li.c{
           background-color: royalblue;
           font-size:113%;
           font-family: SansSerif;

       }
       .att{
           margin-top: -30px;
       }
       #sidebar{
           width: 66%;
           height: 100vh;
           background-color: royalblue;
           position:fixed;
           margin-top: -10px;
           z-index: 1;
           left: -67%;
           transition: all 0.8s linear;
       }
       #sidebar.active{
           left:0;
       }
       .toggle{
        margin-left: 0;
        position:absolute;
        right:20px;
         z-index: 2
       }
       .toggle span {
           width: 33px;
           height: 4px;
           background-color: royalblue;
           margin-top: 5px;
          
           display: block;

       }
       .mobile_view{
           display: block;
       }
       footer{
           display: none;
       }
       form.form{
           /*border: 1px solid rgba(0, 0, 0, 0.5);*/
           height: 100%;
           width: 100%;
           display: none;
padding-right: 0;

       }
       .att{
          width: 100%;
           margin-left: -0px;

       }
       .thumbnail{
           width: 100%;
           margin-left: -0px;

       }

       .nav{
           display: none;
       }

       .sidebar{
           display: none;
       }









   }


    .content{
        padding: 10px 10px;
        width : 1136px;
        height: 635px;
        position: absolute;
        border: 1px solid rgba(0 ,0, 0, 0.4);
        margin-left: 224px;
        margin-top: 35px;

    }
</style>





<!--<header>-->
<!--<meta charset="UTF-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--</header>-->

<!--&lt;!&ndash;profile page&ndash;&gt;-->

<!--<div class="cont">-->
<!--&lt;!&ndash;set header&ndash;&gt;-->

<!--<header>-->
<!--<meta charset="UTF-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--</header>-->

<!--<nav id="side-nav" class="navbar  navbar-expand-lg navbar-light bg-light">-->
<!--<button class="  navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="  navbar-toggler-icon"></span>-->
<!--</button>-->

<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<ul class="navbar-nav mr-auto">-->


<!--<li class="nav-item active">-->

<!--</li>-->


<!--</ul>-->


<!--</div>-->
<!--</nav>-->






<!--</div>-->
<!--&lt;!&ndash;sidebar&ndash;&gt;-->
<!--<div class="con">-->
<!--<div class="sidebar">-->

<!--</div>-->
<!--<div class="content">-->
<!--<div class="dashboard">-->


<!--</div>-->
<!--</div>-->

<!--</div>-->







<!--<hr>-->


<!--<style type="text/css">-->





<!--.cont{-->
<!--margin-top: -10px;-->
<!--}-->


<!--.content{-->
<!--width : 100%;-->
<!--height: 100%;-->
<!--padding-left: 270px;-->
<!--}-->


<!--.sidebar{-->
<!--margin-top: -30px;-->
<!--width: 250px ;-->
<!--height: 120vh;-->
<!--position: fixed;-->
<!--background-color: #2e6da4;-->
<!--color: white;-->
<!--}nav#side-nav{-->
<!--display: none;-->
<!--background-color: transparent;-->
<!--}-->




<!--footer{-->
<!--display: none;-->
<!--}-->
<!--h5{margin-top: 40px;-->
<!--position: absolute;-->
<!--color: #00B7F9;-->
<!--font-family: sans-serif;-->

<!--}-->
<!--/*on mobile screen e.g android*/-->
<!--@media (max-width: 768px){-->



<!--}-->

<!--body{-->
<!--background:white;-->
<!--cursor: pointer;-->
<!--}-->


<!--</style>-->


<!--<style type="text/css">-->
<!--/*on mobile screen*/-->
<!--@media (max-width: 768px){-->

<!--.content{-->
<!--padding:  0  10px;-->
<!--background-color: white;-->
<!--}-->


<!--.sidebar{-->
<!--display: none;-->
<!--}-->









<!--}-->
<!--</style>-->










