
{{>sidebar}}
{{>store}}


<div class="thumbnail att">
    <h3 >You searched for <span style="nfont-family: Verdana; color: deeppink">{{firstname}} </span></h3>
    <p>related search</p>

    {{# each user}}

    <div class="row">

            {{# each this}}
                <div class="col-sm-6 col-md-4">
                    <div style="margin-top: 36px;" class=" thumbnail">
                        <img style="width: 300px; height: 200px"  src="{{this.profile_image}}" class=" img-responsive" alt="{{this.firstname}} {{this.secondname}}">
                        <div class="caption">
                            <div class="description clearfix">
                                <h3 class="name" style=" font-family: Verdana">{{this.firstname}} {{this.secondname}}</h3><br>

                                <hr style="background-color: rgba(100% , 100%, 100%, 0.6); margin-top:-7px;">
                                <p style="font-family: Verdana; font-weight: normal; font-size: 123%;" class="level">At Level: {{this.level}} Level</p><br>
                                <p style="font-family: Verdana; font-weight: normal; font-size: 123%;" class="level">Qoute: {{this.quote}} Level</p><br>

                                <p><a style=" font-weight: bold" href="/users/view/{{this._id}}" onclick="success()"  class="btn btn-primary pull-left " role="button"><i class="fas fa-address-book"></i> View Full profile</a> </p><br>

                            </div>


                        </div>
                    </div>
                </div>

        {{/each}}
    </div>
    {{/each}}

<div style="color:red">
    Related search in the alumni section
</div>
{{# if user1}}
    {{# each user1}}

        <div class="row">

            {{# each this}}
{{# each user}}
                <div class="col-sm-6 col-md-4">
                    <div style="margin-top: 36px;" class=" thumbnail">
                        <img style="width: 300px; height: 200px" src="{{this.profile_image}}" class=" img-responsive" alt="{{firstname}} {{this.secondname}}">
                        <div class="caption">
                            <div class="description clearfix">
                                <h3 class="name" style=" font-family: Verdana">{{this.firstname}} {{this.secondname}}</h3><br>

                                <hr style="background-color: rgba(100% , 100%, 100%, 0.6); margin-top:-7px;">
                                <p style="font-family: Verdana; font-weight: normal; font-size: 123%;" class="level">Alumni</p><br>
                                <p style="font-family: Verdana; font-weight: normal; font-size: 123%;" class="level">unit: {{this.unit}} </p><br>

                                <p><a href="/users/alumni" style=" font-weight: bold ; padding: 10px 40px; background-color: #2e6da4; color:white"  onclick="show()"  class=" pull-left " ><i class="fas fa-address-book"></i> View Full profile</a> </p><br>
                                <ul  id="ul" style="display: none; border-radius: 0; margin-top: -38px; width: 330px; float:left; background-color: white;">
                                    <button onclick="clear()" id="btn"  style="margin-bottom: 3px; width: 30px; margin-left: 299px;" class=" btn btn-primary">

                                    <span class="l pull-right" style=" margin-top: -9px; background-color: white; position: absolute; transform: rotate(45deg);width : 2px; height: 18px ; "></span >
                                    <span class="r pull-right"  style="  margin-top: -9px; background-color: white;  position:absolute;transform: rotate(-45deg);width : 2px; height: 18px ; "></span>
                                    </button>
                                    <li style="border-radius: 0; font-size: 120%; font-family: Verdana" class="list-group-item">
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue; ">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div> <span style="color: royalblue; font-weight: normal">Level:</span>  Alumni
                                    </li>

                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item">
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue; ">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div> <span style="color: royalblue; font-weight:normal"> Graduated from department of:</span> {{this.department}}
                                    </li>

                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item">
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue; ">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div><span style="color: royalblue; font-weight:normal"> personal Quote:</span> "{{this.quote}}"
                                    </li>


                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item">
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue; ">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div><span style="color: royalblue; font-weight:normal"> Unit:</span> {{this.unit}}
                                    </li>
                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color:royalblue;"></div>
                                        </div><span style="color: royalblue; font-weight: normal"> Phone-number:</span> {{this.phone_number}}
                                    </li>
                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div>
                                        <span style="color: royalblue; font-weight: normal"> Address: </span>{{this.address}}
                                    </li>
                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >

                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div><span style="color: royalblue; font-weight: normal"> Status:</span> Alumni
                                    </li>
                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div> <span style="color: royalblue; font-weight: normal">  Past:</span> {{this.executive_role}}
                                    </li>
                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div> <span style="color: royalblue; font-weight: normal">  Whatsapp no:</span> {{this.whatsapp}}
                                    </li>
                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color:royalblue;"></div>
                                        </div><span style="color: royalblue; font-weight: normal">Facebook page:</span> {{this.facebook}}
                                    </li>
                                    <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                        <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                            <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                        </div><span style="color: royalblue; font-weight: normal">  twitter link:</span> {{this.twitter}}
                                    </li>

                                </ul>

                            </div>


                        </div>
                    </div>
                </div>
{{/each}}
            {{/each}}
        </div>
    {{/each}}
{{else}}
    <div>
        <h3>No related in the alumni section</h3>
    </div>
{{/if}}

</div>


    <div class="mobile_view" >
        <h3 >You searched for <span style="nfont-family: Verdana; color: deeppink">{{firstname}} </span></h3>
        <p>related search</p>

        {{# each user}}

            <div class="row" style="padding: 0 10px;">

                {{# each this}}
                    <div class="col-sm-6 col-md-4">
                        <div style="margin-top: 36px;" class=" thumbnail">
                            <img style="width: 300px; height: 200px" src="{{this.profile_image}}" class=" img-responsive" alt="{{this.firstname}} {{this.secondname}}">
                            <div class="caption">
                                <div class="description clearfix">
                                    <h3 class="name" style=" font-family: Verdana">{{this.firstname}} {{this.secondname}}</h3><br>

                                    <hr style="background-color: rgba(100% , 100%, 100%, 0.6); margin-top:-7px;">
                                    <p style="font-family: Verdana; font-weight: normal; font-size: 123%;" class="level">At Level: {{this.level}} Level</p><br>
                                    <p style="font-family: Verdana; font-weight: normal; font-size: 123%;" class="level">Qoute: {{this.quote}} Level</p><br>

                                    <p><a style=" font-weight: bold" href="/users/view/{{this._id}}" onclick="success()"  class="btn btn-primary pull-left " role="button"><i class="fas fa-address-book"></i> View Full profile</a> </p><br>

                                </div>


                            </div>
                        </div>
                    </div>

                {{/each}}
            </div>
        {{/each}}

        <div>
            Related search in the alumni section
        </div>
        {{# if user1}}
            {{# each user1}}

                <div class="row">

                    {{# each this}}
                        {{# each user}}
                            <div class="col-sm-6 col-md-4">
                                <div style="margin-top: 36px;" class="handler thumbnail">
                                    <img style="width: 300px; height: 200px" src="{{this.profile_image}}" class=" img-responsive" alt="{{firstname}} {{this.secondname}}">
                                    <div class="caption">
                                        <div class="description clearfix">
                                            <h3 class="name" style=" font-family: Verdana">{{this.firstname}} {{this.secondname}}</h3><br>

                                            <hr style="background-color: rgba(100% , 100%, 100%, 0.6); margin-top:-7px;">
                                            <p style="font-family: Verdana; font-weight: normal; font-size: 123%;" class="level">Alumni</p><br>
                                            <p style="font-family: Verdana; font-weight: normal; font-size: 123%;" class="level">unit: {{this.unit}} </p><br>

                                            <p><a style=" font-weight: bold ; padding: 10px 40px; background-color: #2e6da4; color:white"  onclick="show()"  class=" pull-left " ><i class="fas fa-address-book"></i> View Full profile</a> </p><br>
                                            <ul  id="ul" style="display: none; border-radius: 0; margin-top: -38px; width: 330px; float:left; background-color: white;">
                                                <button onclick="clear()" id="btn"  style="margin-bottom: 3px; width: 30px; margin-left: 299px;" class=" btn btn-primary">

                                                    <span class="l pull-right" style=" margin-top: -9px; background-color: white; position: absolute; transform: rotate(45deg);width : 2px; height: 18px ; "></span >
                                                    <span class="r pull-right"  style="  margin-top: -9px; background-color: white;  position:absolute;transform: rotate(-45deg);width : 2px; height: 18px ; "></span>
                                                </button>
                                                <li style="border-radius: 0; font-size: 120%; font-family: Verdana" class="list-group-item">
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue; ">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div> <span style="color: royalblue; font-weight: normal">Level:</span>  Alumni
                                                </li>

                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item">
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue; ">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div> <span style="color: royalblue; font-weight:normal"> Graduated from department of:</span> {{this.department}}
                                                </li>

                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item">
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue; ">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div><span style="color: royalblue; font-weight:normal"> personal Quote:</span> "{{this.quote}}"
                                                </li>


                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item">
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue; ">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div><span style="color: royalblue; font-weight:normal"> Unit:</span> {{this.unit}}
                                                </li>
                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color:royalblue;"></div>
                                                    </div><span style="color: royalblue; font-weight: normal"> Phone-number:</span> {{this.phone_number}}
                                                </li>
                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div>
                                                    <span style="color: royalblue; font-weight: normal"> Address: </span>{{this.address}}
                                                </li>
                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >

                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div><span style="color: royalblue; font-weight: normal"> Status:</span> Alumni
                                                </li>
                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div> <span style="color: royalblue; font-weight: normal">  Past:</span> {{this.executive_role}}
                                                </li>
                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div> <span style="color: royalblue; font-weight: normal">  Whatsapp no:</span> {{this.whatsapp}}
                                                </li>
                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color:royalblue;"></div>
                                                    </div><span style="color: royalblue; font-weight: normal">Facebook page:</span> {{this.facebook}}
                                                </li>
                                                <li style="font-size: 120%; font-family: Verdana" class="list-group-item" >
                                                    <div class="pull-right" style=" width: 14px; height: 14px; border: 1px solid royalblue;">
                                                        <div class="pull-right" style="margin: 2px 2px 0 0; width: 8px; height: 8px; background-color: royalblue;"></div>
                                                    </div><span style="color: royalblue; font-weight: normal">  twitter link:</span> {{this.twitter}}
                                                </li>

                                            </ul>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/each}}
                </div>
            {{/each}}
        {{else}}
            <div>
                <h3>No related in the alumni section</h3>
            </div>
        {{/if}}

    </div>




    <script type="text/javascript">
          var btn1 = document.getElementById('show');
          var btn = document.getElementById('btn');
          var box= document.getElementById('ul');
         btn.addEventListener('click' , clear);
        function clear() {
          box.style.display='none';
        }
          btn1.addEventListener('click' , show);
          function show() {
              box.style.display='block';
          }

    </script>



</div>


<style type="text/css">
    @media (max-width: 768px) {
        .d{
            display: block;
        }
        .att{
            display:none;
        }
        .mobile_view{
            display: block;
        }

    }
    img{
        height:100px;
        width : 100px;
    }

    .con{

    }
    .cont{
        margin-top: -20px;
        position: relative;
    }


    .att{
        padding: 10px 10px;
        width : 1123px;

        position:absolute;
        /*border: 1px solid rgba(0 ,0, 0, 0.4);*/
        margin-left: 224px;
        margin-top: 35px;
        background-color: white;
    }
</style>
